body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: #ccc;

}
.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 400px;
}
.full-width {
width: 100%;
}
nav {
    width: 100%;
}
nav ul{
    margin: 20px;
    padding: 0px;
    border-radius: 4px;
    background: #262626;
    overflow:hidden;
}
nav ul li {
    list-style: none;
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}
.Active
nav ul li a:hover{
    background: #f00;
}
.col-7 {
    width: 70%;
    min-height: 400px;


}
.col-3 {
    width: 70%;
    min-height: 400px;
    background: #ccc;
    float: right;
}
.margin-top20px{
    margin-top: 20px;
}
.post{
    background: #ccc;
    padding: 20px;
    background: #f1f1f1;
}
img {
    max-width: 100%;
}
h1{
    margin: 10px, 0;
}